
.main-container{
  width: 100%  !important;
  min-width: 87vh;
  padding: 20px 20px 20px 20px !important;
  box-sizing: border-box;
  font-size: 14px !important;
  overflow: hidden;
}

.tableData{
  margin-left: 0px  !important;
  margin-bottom: 5px;
  border: 1px solid #ddd;
 
}

.tableDisplay .tableData table thead th{
  min-height: 30px !important;
  width: 200px !important;
}

.tableDisplay .tableData table thead th, 
.tableDisplay .tableData table thead td{
padding: 1px;
}



.imgSize{
  width: 30px;
  height: 30px;
}

